html {
    box-sizing: border-box;
}
 
*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --sketchColor: hsl(0, 100%, 50%);
    --sketchSize: 40;
}

#body {
    font-family: 'Alex Brush', sans-serif;
    color: #e7e5f4;;
    text-shadow: 0.3vw 0vw 0.2vw #98031f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: black;
}

#top, #middle, #bottom {
    background-color: #b8141f;
}


#top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vmin;
    margin: 0;
}

h1 {
    margin: 0;
    font-style: italic;
    font-size: 4vw;
}

#middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 70vmin;
    height: 70vmin;
    border: solid 1vmin #e7e5f4;;
    background-color: #e7e5f4;;
    box-shadow: 0.6vw 0vw 0.2vw #98031f;
    border-radius: 2vmin;
}

.grid-square {
    background-color: #e7e5f4;
}

.visible-grid {
    border: solid lightgrey 1px;
}

#bottom {
    display: flex;
    justify-content: center;
}

#bottom-empty {
    width: 70vmin;
}

#left-button-container, #right-button-container {
    width: 15vmin;
    height: 15vmin;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#left-button, #right-button {
    position: absolute;
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background-color: #e7e5f4;;
    box-shadow: 0.6vw 0vw 0.2vw #98031f;
}

#left-button::before {
    content: "";
    position: absolute;
    background-color: var(--sketchColor);
    width: 10%;
    height: 10%;
    border-radius: 50%;
    transform: translate(450%, 80%);
}

#left-button::after {
    content: "";
    position: absolute;
    width: 40%;
    height: 40%;
    border-radius: 50%;
    transform: translate(75%, 75%);
    background-color: var(--sketchColor);
}

#right-button::before {
    content: "";
    position: absolute;
    background-color: black;
    width: 10%;
    height: 10%;
    border-radius: 50%;
    transform: translate(450%, 80%);
}

#right-button::after {
    content: "";
    position: absolute;
    width: calc(var(--sketchSize) * 1%);
    height: calc(var(--sketchSize) * 1%);
    border-radius: 50%;
    transform: translate(calc((100 - var(--sketchSize)) / 2 / var(--sketchSize) * 100%), 
                    calc((100 - var(--sketchSize)) / 2 / var(--sketchSize) * 100%));
    background-color: black;
}

.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }