#body {
    font-family: 'Alex Brush', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: black;
}

#top, #middle, #bottom {
    background-color: #b8141f;
}


#top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vmin;
    margin: 0;
}

h1 {
    margin: 0;
    font-style: italic;
}

#middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid {
    width: 70vmin;
    height: 70vmin;
}

#bottom {
    display: flex;
    justify-content: center;
}

#bottom-empty {
    width: 70vmin;
}

#left-button-container, #right-button-container {
    width: 15vmin;
    height: 15vmin;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#left-button, #right-button {
    position: absolute;
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background-color: white;
}

:root {
    --color: hsl(0, 100%, 50%);
}

#left-button::before {
    content: "";
    position: absolute;
    background-color: var(--color);
    width: 10%;
    height: 10%;
    border-radius: 50%;
    transform: translate(450%, 80%);
}

#left-button::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    transform: translate(50%, 50%);
    background-color: var(--color);
}

.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }