body {
    font-family: 'Alex Brush', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: black;
}

#top, #middle, #bottom {
    background-color: red;
}


#top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vmin;
    margin: 0;
}

h1 {
    margin: 0;
    font-style: italic;
}

#middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid {
    width: 70vmin;
    height: 70vmin;
}

#bottom {
    display: flex;
    justify-content: center;
}

#bottom-empty {
    width: 70vmin;
}

#left-button, #right-button {
    width: 15vmin;
    height: 15vmin;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#left-button-back, #right-button-back {
    position: absolute;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-color: white;
}

#left-button-front {
    position: absolute;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: black;
}

#right-button-front {
    position: absolute;
    width: 40%;
    height: 40%;
    background-color: black;
}